/********************
Componente destaque-artigo
********************/


.destaque-artigo {

}

.destaque-artigo > .titulo {
	margin-left:0.2cm;
    color:#f8941e;
	font-weight:1000;
}

.destaque-artigo > .texto {
	margin-left:0.2cm;
	color:#f8941e;

}